<%- include ('partials/header.ejs') %>


    <%- include ('partials/main_nav.ejs') %>

        <!--Main Content-->

        <main class="container">
            <div class="jumbotron">
                <h1 class="display-4"></h1>


            </div>
        </main>
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Project</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
            </div>
    <div class="row">
                    <div class="col-lg-4 ms-auto">
                        <p class="lead"><br>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            In mollis erat mattis neque facilisis, sit amet er olo ultricies ylo erat rutrum. Cras facilisis, <br>
                            nulla vel viverra ctoryl leo magna sodales felis, quis gyll malesuada nibh odio ut veliteril. Proin pharetra luctus diam, 
                            a scelerisque eros convallis accumsan.<br>
                            Course: Web Application Development<br>
                        </p>
                    
                    </div>
                    <div class="col-lg-4 me-auto">
                       <p class="lead"><br>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            In mollis erat mattis neque facilisis, sit amet er olo ultricies ylo erat rutrum. Cras facilisis, <br>
                            nulla vel viverra ctoryl leo magna sodales felis, quis gyll malesuada nibh odio ut veliteril. Proin pharetra luctus diam, 
                            a scelerisque eros convallis accumsan.<br>
                            Course: Web Application Development<br>
                        </p>
                </div>
 

        </section>
        <%- include ('partials/bottom_nav.ejs') %>

            <%- include ('partials/footer.ejs') %>