<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--Main Content-->

    <main class="container">
      <div class="jumbotron">
        <h1 class="display-4"></h1>
      </div>
    </main>
    <section class="page-section portfolio" id="portfolio">
      <div class="container">

        <!-- Services Section Heading-->

        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Services</h2>

        <!-- Icon Divider-->
        <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
        </div>
            <div class="row">
                    <div class="col-lg-4 ms-auto">
                        <p class="lead"><br>
                            Ace of Race is a tournament bracket generator that allows you to create and customize your own 8 person/team bracket for any event or tournament.
                        </p>
                    
                    </div>
                    <div class="col-lg-4 me-auto">
                       <p class="lead"><br>
                            Use our bracket generator for any sport, game or event that you see fit. Ace of Race is here to facilitate your victories!
                        </p>
                </div>
      </div>
      
    </section>

    </section>
<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>