

<link rel='stylesheet' href='/Content/app.css' />

<form class="form" method="POST">
  <div class="bracket">
    <section class="round quarterfinals">
      <div class="winners">
        <div class="matchups">
          <div class="matchup">
            <div class="participants">
              <div class="participant"><span>
                <input type="number" id="s1" placeholder="0" name="s1">
                  <input type="text"
                  id="p1"
                  placeholder="Enter Participant"
                  name="p1" required></span></div>
              <div class="participant"><span>
                <input type="number" id="s2" placeholder="0" name="s2">
                  <input type="text" class="form-control"
                  id="p2"
                  placeholder="Enter Participant"
                  name="p2" required></span></div>
            </div>
          </div>
          <div class="matchup">
            <div class="participants">
              <div class="participant"><span>
                <input type="number" id="s3" placeholder="0" name="s3">
                  <input type="text" class="form-control"
                  id="p3"
                  placeholder="Enter Participant"
                  name="p3" required></span></div>
              <div class="participant"><span>
                <input type="number" id="s4" placeholder="0" name="s4">
                  <input type="text" class="form-control"
                  id="p4"
                  placeholder="Enter Participant"
                  name="p4" required></span></div>
            </div>
          </div>
        </div>
        <div class="connector">
          <div class="merger"></div>
          <div class="line"></div>
        </div>
      </div>
      <div class="winners">
        <div class="matchups">
          <div class="matchup">
            <div class="participants">
              <div class="participant"><span>
                <input type="number" id="s5" placeholder="0" name="s5">
                  <input type="text" class="form-control"
                  id="p5"
                  placeholder="Enter Participant"
                  name="p5" required></span></div>
              <div class="participant"><span>
                <input type="number" id="s6" placeholder="0" name="s6">
                  <input type="text" class="form-control"
                  id="p6"
                  placeholder="Enter Participant"
                  name="p6" required></span></div>
            </div>
          </div>
          <div class="matchup">
            <div class="participants">
              <div class="participant"><span>
                <input type="number" id="s7" placeholder="0" name="s7">
                  <input type="text" class="form-control"
                  id="p7"
                  placeholder="Enter Participant"
                  name="p7" required></span></div>
              <div class="participant"><span>
                <input type="number" id="s8" placeholder="0" name="s8">
                  <input type="text" class="form-control"
                  id="p8"
                  placeholder="Enter Participant"
                  name="p8" required></span></div>
            </div>
          </div>
        </div>
        <div class="connector">
          <div class="merger"></div>
          <div class="line"></div>
        </div>
      </div>
    </section>
    <section class="round semifinals">
      <div class="winners">
        <div class="matchups">
          <div class="matchup">
            <div class="participants">
              <div class="participant"><span>
                <input type="number" id="s9" placeholder="0" name="s9">
                  <input type="text" class="form-control"
                  id="p9"
                  placeholder="Enter Participant"
                  name="p9"></span></div>
              <div class="participant"><span>
                <input type="number" id="s10" placeholder="0" name="s10">
                  <input type="text" class="form-control"
                  id="p10"
                  placeholder="Enter Participant"
                  name="p10"></span></div>
            </div>
          </div>
          <div class="matchup">
            <div class="participants">
              <div class="participant"><span>
                <input type="number" id="s11" placeholder="0" name="s11">
                  <input type="text" class="form-control"
                  id="p11"
                  placeholder="Enter Participant"
                  name="p11"></span></div>
              <div class="participant"><span>
                <input type="number" id="s12" placeholder="0" name="s12">
                  <input type="text" class="form-control"
                  id="p12"
                  placeholder="Enter Participant"
                  name="p12"></span></div>
            </div>
          </div>
        </div>
        <div class="connector">
          <div class="merger"></div>
          <div class="line"></div>
        </div>
      </div>
    </section>
    <section class="round finals">
      <div class="winners">
        <div class="matchups">
          <div class="matchup">
            <div class="participants">
              <div class="participant"><span>
                <input type="number" id="s13" placeholder="0" name="s13">
                  <input type="text" class="form-control"
                  id="p13"
                  placeholder="Enter Participant"
                  name="p13"></span></div>
              <div class="participant"><span>
                <input type="number" id="s14" placeholder="0" name="s14">
                  <input type="text" class="form-control"
                  id="p14"
                  placeholder="Enter Participant"
                  name="p14"></span></div>
            </div>
          </div>
        </div>
        <div class="connector">
          <div class="merger"></div>
          <div class="line"></div>
        </div>
      </div>
    </section>
    <section class="round finals">
      <div class="winners">
        <div class="matchups">
          <div class="matchup">
            <div class="participants">
              <div class="participant winner"><span>
                <input type="number" id="s15" placeholder="0" name="s15">
                  <input type="text" class="form-control"
                  id="p15"
                  placeholder="Enter Participant"
                  name="p15"></span></div>
            </div>
          </div>
        </div>
      </div>
  </section>
  </div>
  
  <div class="title">
      <label for="titleTextField">Title: </label>
      <input type="text" class="form-control"
      id="title"
      placeholder="title"
      name="title" required>
  </div>
  <div class="description">
    <label for="titleTextField">Description: </label>
    <input type="text" class="form-control"
    id="description"
    placeholder="description"
    name="description" required>
  </div>
  
  <button class="buttonSubmit" type="submit">
    <i class="fas fa-edit"></i> Submit</button>
    <button class="buttonCancel"><a href="/participant-list" class="btn btn-warning">
      <i></i> Cancel</a></button>

  </form>
